#show_stats {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background-color:rgb(94, 110, 255);
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

#select {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background-color:rgb(252, 255, 94);
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

#stats_block {

    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    padding-left: 1050px;
    display: block;
}

#new_game_stats_block {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-left: 850px;
    padding-right: 850px;
    padding-top: 100px;
    padding-bottom: 10px;
    display: block;
}
